[submodule "ethereum-gen/sora2-federated-bridge-evm-contracts"]
	path = ethereum-gen/sora2-federated-bridge-evm-contracts
	url = https://github.com/sora-xor/sora2-federated-bridge-evm-contracts.git
	branch = outdated
[submodule "parachain-gen/sora2-parachain"]
	path = parachain-gen/sora2-parachain
	url = https://github.com/sora-xor/sora2-parachain.git
	branch = develop
[submodule "substrate-gen/sora2-network"]
	path = substrate-gen/sora2-network
	url = https://github.com/sora-xor/sora2-network.git
	branch = add_generic_substrate_app
[submodule "liberland-gen/liberland_substrate"]
	path = liberland-gen/liberland_substrate
	url = https://github.com/sora-xor/liberland_substrate
	branch = feature/dops-2837
