[submodule "ethereum-gen/sora2-federated-bridge-evm-contracts"]
	path = ethereum-gen/sora2-federated-bridge-evm-contracts
	url = https://github.com/sora-xor/sora2-federated-bridge-evm-contracts.git
	branch = outdated
[submodule "substrate-gen/sora2-network"]
	path = substrate-gen/sora2-network
	url = https://github.com/sora-xor/sora2-network.git
	branch = refactor/mv-relayer
